body {
  background-color: white;
  opacity: 0.8;
  background-image: radial-gradient(#b5b7fb 2px, transparent 2px),
    radial-gradient(#b5b7fb 2px, #e5e5f7 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.wrapper {
  max-width: 656px;
  margin: 30px auto;
}
.wrapper a {
  text-decoration: none;
}
.weatherapp {
  padding: 20px;
  border: 1px solid #3b3e8a;
  border-radius: 5px;
  font-family: "Google Sans", arial, sans-serif;
  background: white;
  opacity: 1;
}

.row {
  padding: 14px 0 0 0;
}

.weatherapp .btn {
  background: #3b3e8a;
  border-color: #3b3e8a;
}

.main-temperature img {
  display: inline-block;

  width: 80px;
  vertical-align: top;
}

.main-temperature {
  float: right;
  color: black;
}
.main-temperature #temperature {
  display: inline;
  font-size: 48px;
  font-weight: 400;
  padding: 0 auto;
  line-height: 72px;
}

#temperature-sign {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  vertical-align: top;
  color: #3b3e8a;
}

.main-city strong {
  color: black;
  font-size: 35px;
  line-height: 26px;
  width: 326px;
}
.small-description {
  color: #3b3e8a;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
}
.active {
  color: black;
  cursor: default;
}

.active:hover {
  color: black;
  cursor: default;
}

.weather-forecast {
  margin-top: 20px;
  align-items: center;
  color: black;
}

.weather-forecast-date {
  font-size: 13px;
  font-weight: bolder;
  color: black;

  padding: 12px 0px 7px 9px;
}

.weather-forecast-min {
  opacity: 0.6;
}

.weather-forecast-temperature {
  font-size: 13px;
  color: black;
}
