body {
  background-color: #e5e5f7;
  background-image: linear-gradient(
      30deg,
      #dadbfd 12%,
      transparent 12.5%,
      transparent 87%,
      #dadbfd 87.5%,
      #dadbfd
    ),
    linear-gradient(
      150deg,
      #dadbfd 12%,
      transparent 12.5%,
      transparent 87%,
      #dadbfd 87.5%,
      #dadbfd
    ),
    linear-gradient(
      30deg,
      #dadbfd 12%,
      transparent 12.5%,
      transparent 87%,
      #dadbfd 87.5%,
      #dadbfd
    ),
    linear-gradient(
      150deg,
      #dadbfd 12%,
      transparent 12.5%,
      transparent 87%,
      #dadbfd 87.5%,
      #dadbfd
    ),
    linear-gradient(
      60deg,
      #ebebfd 25%,
      transparent 25.5%,
      transparent 75%,
      #ebebfd 75%,
      #ebebfd
    ),
    linear-gradient(
      60deg,
      #ebebfd 25%,
      transparent 25.5%,
      transparent 75%,
      #ebebfd 75%,
      #ebebfd
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

ul {
  list-style-type: none;
}

li:first-letter {
  text-transform: capitalize;
}

.wrapper {
  max-width: 656px;
  margin: 30px auto;
}
.wrapper a {
  text-decoration: none;
}
.weatherapp {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  font-family: "Google Sans", arial, sans-serif;
  background: white;
  opacity: 1;
}

.display-temperature img {
  display: inline-block;
  height: 60px;
  width: 60px;
  vertical-align: top;
}

.main-temperature #temperature {
  display: inline;
  font-size: 48px;
  font-weight: 400;

  padding: 0 auto;
  line-height: 72px;
}

#temperature-sign {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;

  vertical-align: top;
  color: #b5b7fb;
}

.one {
  color: #b5b7fb;
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  float: right;
}

.two {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #b5b7fb;
}
.two strong {
  color: #444cf7;
  font-size: 22px;
  font-weight: 00;
  height: 26px;
  line-height: 26px;
  width: 326px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  color: black;
  cursor: default;
}

.weather-forecast {
  margin-top: 20px;
  align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-min {
  opacity: 0.6;
}

.weather-forecast-temperature {
  font-size: 13px;
}
